body {
    background-color: beige;
}

#start {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    background-color: black;
    color: white;
}

#stop {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    background-color: white;
    color: black;
}

#speak {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    border-radius: 25px;
    background-color:beige ;
    color: black;
}

#status {
    position: fixed;
    top: 30px ;
    left: 110px;
    border-radius: 20px;
    border: none;
    background-color: greenyellow;
}